name: Deploy preview

on:
  workflow_run:
    workflows: ["Build, lint and test"]
    types: [completed]
    branches-ignore: [main]

permissions:
  id-token: write
  actions: read
  contents: read
  security-events: write
  deployments: write

jobs:
  check:
    if: ${{ toJSON(github.event.workflow_run.pull_requests) != '[]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Print GitHub context
        run: echo "$GITHUB_CONTEXT"
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
      - name: Get PR labels
        id: get-labels
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          echo "labels=$(gh api /repos/${{ github.repository }}/pulls/${{ github.event.workflow_run.pull_requests[0].number }} --jq '[.labels.[].name] | join(",")')" >> "$GITHUB_OUTPUT"
      - run: echo "$labels"
        env:
          labels: ${{ steps.get-labels.outputs.labels }}
      - name: Check if preview label is attached
        if: ${{ !contains(steps.get-labels.outputs.labels, 'allow previews') }}
        run: exit 1

  deploy:
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dev-pages
          path: build
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ github.token }}
      - name: Unpack
        run: |
          cd build
          tar -xf *.tar.gz
        shell: bash
      - name: Create deployment
        id: create-deployment
        env:
          GH_TOKEN: ${{ secrets.PREVIEW_DEPLOY_TOKEN }}
        run: |
          gh api -i --method POST /repos/${{ github.repository }}/deployments -f "ref=${{ github.event.workflow_run.head_branch }}" -f "environment=dev-pages" --jq '.id' > .deployment_out
          echo status=$(cat .deployment-out | head -n 1) >> "$GITHUB_OUTPUT"
          echo id=$(cat .deployment-out | tail -n 1) >> "$GITHUB_OUTPUT"
      - name: Check status code
        if: ${{ steps.create-deployment.outputs.status != 'HTTP/2.0 201 Created' }}
        run: exit 1
      - name: Deploy dev-pages
        id: deploy
        uses: timogasda/actions/.github/actions/deploy-static@main
        with:
          role-to-assume: ${{ secrets.AWS_PREVIEW_ROLE_ARN }}
          deployment-bucket: ${{ secrets.AWS_PREVIEW_BUCKET_NAME }}
          source-path: build/lib/static-default
          target-path: dev-pages
          commit-sha: ${{ github.event.workflow_run.head_sha }}
          cloudfront-host: d1ygrbexbkwxpo.cloudfront.net
      - name: Set deployment status (failure)
        if: failure()
        env:
          GH_TOKEN: ${{ secrets.PREVIEW_DEPLOY_TOKEN }}
        run: |
          gh api --method POST /repos/${{ github.repository }}/deployments/${{ steps.create-deployment.outputs.id }}/statuses -f "state=failure"
      - name: Set deployment status (success)
        if: success()
        env:
          GH_TOKEN: ${{ secrets.PREVIEW_DEPLOY_TOKEN }}
        run: |
          gh api --method POST /repos/${{ github.repository }}/deployments/${{ steps.create-deployment.outputs.id }}/statuses -f "state=success" -f "log_url=${{ steps.deploy.outputs.preview-url }}index.html"
